body {
  background-color: #EAF6F6;
}

h1 {
  color: #00ADB5;
}

h3 {
  color: #32E0C4;
}

hr {
  border-style: none;
  border-top-style: dotted;
  border-color: grey;
  border-width: 5px;
  width: 10%;
}
